.app {
  display: flex;

}

.main {
  flex-basis: 60%;
  padding: 0 1rem;
}

.search {
  margin-bottom: 1rem;
}

.flats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
}
